@model Entity_Layer.BookingsModel

@{
    ViewData["Title"] = "CustDashboard";
    string defaultDate = DateTime.Now.ToString("yyyy-MM-dd");
}

<style>
    body {
        background: #fafafa url(https://s.tmimgcdn.com/scr/1200x627/95900/food-logo-template_95902-original.jpg);
        */ color: #444;
        font: 100%/30px 'Helvetica Neue', helvetica, arial, sans-serif;
        text-shadow: 0 1px 0 #fff;
        background-size: cover;
        height: 100vh; 
        width: 100vw; 
        */ position: relative;
    }
    
    .row {
        margin: 20px 0;
    }

    .form-group {
        margin-bottom: 15px;
    }

    
    label {
        font-weight: bold;
        display: block;
        margin-bottom: 5px;
    }

 
    input[type="date"], select {
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 10px;
        width: 100%;
        box-sizing: border-box;
    }

 
    input[type="submit"] {
        background-color: #007bff;
        border: none;
        border-radius: 4px;
        color: #fff;
        cursor: pointer;
        padding: 10px 15px;
        text-align: center;
        font-size: 14px;
    }

    input[type="submit"]:hover {
        background-color: #0056b3;
    }

    
    a {
        color: #0000cd;
        text-decoration: none;
        font-weight: bold;
    }

    a:hover {
        text-decoration: underline;
    }

    
    table {
        width: 100%; 
        max-width: 1000px; 
        margin: 30px auto;
    }

    
    th {
        background: linear-gradient(#777, #444);
        border-left: 1px solid #555;
        border-right: 1px solid #777;
        border-top: 1px solid #555;
        border-bottom: 1px solid #333;
        box-shadow: inset 0 1px 0 #999;
        color: #fff;
        font-weight: bold;
        padding: 10px 15px;
        text-shadow: 0 1px 0 #000;
    }

    
    tr {
        background: #fafafa; 
    }

    tr:nth-child(odd) td {
        background: #f1f1f1; 
    }

        
    tr:last-of-type td {
        box-shadow: inset 0 -1px 0 #fff;
    }

    tr:last-of-type td:first-child {
        box-shadow: inset 1px -1px 0 #fff;
    }

    tr:last-of-type td:last-child {
        box-shadow: inset -1px -1px 0 #fff;
    }

   
    tbody:hover td {
        color: transparent;
        text-shadow: 0 0 3px #aaa;
    }

    tbody:hover tr:hover td {
        color: #444;
        text-shadow: 0 1px 0 #fff;
    }

    .center-container {
        display: flex;
        justify-content: center; 
        align-items: center; 
        min-height: 50vh; 
        padding: 20px; 
        box-sizing: border-box; 
    }

   
    .content {
        max-width: 800px; 
        width: 300%; 
    }

    .top-right {
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px;
        /*  background-color: #f8f9fa; */
        border-bottom-left-radius: 5px;
    }
</style>

<div class="center-container">
    <div class="content">
        <div class="top-right">
              <h4> @TempData["UserName"]</h4>
        </div>

        <h3>BOOKING</h3>
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Register" asp-route-id=@ViewBag.CustomerId> 
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="booking_date" class="control-label">Booking Date</label>
                        <input asp-for="booking_date" type="date" class="form-control" min=@TempData["minDate"] max=@TempData["maxDate"] value="@defaultDate" />
                    </div>
                    <div class="form-group">
                        <label asp-for="slot_Time" class="control-label">Slot Time</label>
                        <select asp-for="slot_Time" class="form-control">
                            <option value="09:00:00">9:00 AM To 12:00 PM </option>
                            <option value="13:00:00">1:00 PM To 4:00 PM </option>
                            <option value="17:00:00">5:00 PM To 8:00 PM </option>
                            <option value="21:00:00">9:00 PM To 12:00 AM </option>
                        </select> 
                                                            
                        <span asp-validation-for="slot_Time" class="text-danger"></span>
                    </div>
           
                    <div class="form-group">
                        <input type="submit" value="Book" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
        <div class="form-group">
            @Html.ActionLink("View My Bookings", "MyBookings", new { id = @ViewBag.CustomerId })
        </div>    
    </div>
</div>
